<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- IF there is a ServerListFilePath THEN the application will use that ELSE it looks in the runtime directory for 'list.json' -->
    <!-- <add key="ServerListFilePath" value="c:\temp\fakeList.json"/> -->
    <add key="DefaultSortColumn" value="0"/>
    <add key="WarnOnProduction" value="true"/>
    <add key="ProductionEnvironmentTerms" value="prod;production;prd" />
  </appSettings>  
</configuration>
